#startingpage {
  background-image: url("../images/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.startButton {
  padding: 10px;
  position: absolute;
  left: 70%;
  top: 45vh;
  font-size: 30px;
  background-color: orange;
}

.name {
  position: absolute;
  left: 63%;
  top: 100px;
  font-size: 50px;
  color: rgb(218, 163, 24);
}

.body{
    background-color: rgb(7, 5, 0);
}
.ourname{
  position: absolute;
  left: 65%;
  top: 75vh;
  font-size: 30px;
  color: rgb(248, 244, 234);

}

a,
a:visited {
  color: black;
  text-decoration: none;
}
